NODE_ENV=development
PORT=5001
MONGO_URI=mongodb://127.0.0.1:27017/techargi_pos
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=1d
CORS_ORIGIN=*
TAX_RATE=0.0
CLOUDINARY_CLOUD_NAME=izhdrowp
CLOUDINARY_API_KEY=736296326847285
CLOUDINARY_API_SECRET=736296326847285
ADMIN_NAME=System Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=replace-with-a-password-at-least-8-characters
